@use "../styles/space";
@use "../styles/color";
@use "../styles/border";
@use "../styles/text";

.wrapper {
  @include border.solid;
  @include border.radius;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.verticalSpaceBetween,
.horizontalSpaceBetween {
  justify-content: space-between;
  display: flex;
}

.verticalSpaceBetween {
  flex-direction: column;
}

.horizontalSpaceBetween {
  flex-direction: row;
}

.title {
  @include text.title;
  text-align: left;
}

.subTitle {
  @include text.sub-title;
  text-align: left;
}

.content {
  @include space.padding("l r b t", "xl");
}

.footer {
  @include border.solid("t");
  @include space.padding("lrtb", "xl");
  @include text.sub-title;
}
