@use "../styles/space";
@use "../styles/color";
@use "../styles/border";

.wrapper {
  @include space.padding;
  @include border.solid("l");
  height: 100vh;
  width: 420px;
  overflow-y: auto;
  display: grid;
  gap: space.$base;
}
