@use "../styles/space";
@use "../styles/color";
@use "../styles/border";
@use "../styles/text";

.wrapper {
  @include space.padding;
  @include border.solid("l");
  height: 100vh;
  width: 420px;
  overflow-y: auto;
  display: grid;
  grid-auto-rows: min-content;
  gap: space.$base;
  flex: 1;
}
